<section class="s-content section">
    <!--  <img class="forma" src="assets/img/section1/squircle.svg" alt="" /> -->
  
    <div class="s-content-init">
    
      <div class="s-content-apt">
        <h2 class="s-content-title">APOIO MARÍTIMO E PORTUÁRIO</h2>
        <p>
          A Maciel Marítima é uma empresa de serviços marítimos há 10 anos no mercado, completa e confiável, com ampla experiência e conhecimento para oferecer soluções personalizadas e eficientes para as necessidades de seus clientes.
          Com um time altamente qualificado e uma frota moderna, a Maciel Marítima destaca-se como referência no setor de apoio marítimo e portuário. Com foco na excelência e na segurança, nossa empresa se orgulha de fornecer serviços de alta qualidade, garantindo o sucesso das operações de nossos clientes. Seja para suporte logístico, transporte de cargas ou assistência em operações portuárias, estamos comprometidos em oferecer um atendimento ágil e eficaz, sempre visando superar as expectativas de nossos parceiros e contribuir para o desenvolvimento do setor marítimo.
        </p>
      </div>

      <div class="s-content-img">
        <app-carousel [images]="images" [autoSlide]="true"></app-carousel>
      </div>

    </div>
  
  </section>