<div class="container">
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="assets/barco.png">
                <h3>Rebocadores</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>{{rebocadores}}</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="assets/mergulho.png">
                <h3>Mergulhadores</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>{{mergulho}}</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="assets/caminhao.png">
                <h3>Caminhão Munck</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>{{caminhao}}</p>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <img src="assets/selo.png">
                <h3>Segurança e Qualidade</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>{{qualidade}}</p>
            </div>
        </div>
    </div>
</div>
