
.container{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.container .card{
    position: relative;
    cursor: pointer;

    margin-left: 2rem;
    margin-right: 2rem;
}

.container .card .face{
    width: 20vw;
    max-width: 400px;
    min-width: 300px;
    height: 250px;
    transition: 0.5s;
    border-radius: 10px;
}

.container .card .face.face1{
    position: relative;
    background-color: rgb(221, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(150px);
}

.container .card:hover .face.face1{
    background: var(--azul);
    transform: translateY(0);
}

.container .card .face.face1 .content{
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img{
        filter: invert(100%);
        opacity: 0.4;
    }
}

.container .card:hover .face.face1 .content{
    opacity: 1;

    img{
        filter: invert(0%);
        opacity: 1;
    }

    h3{
        color: aliceblue;
    }
}

.container .card .face.face1 .content img{
    max-width: 100px;
}

.container .card .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #797979;
    text-align: center;
    font-size: 1.5em;
}

.container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
    transform: translateY(-100px);
}

.container .card:hover .face.face2{
    transform: translateY(0);
}

.container .card .face.face2 .content p{
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.container .card .face.face2 .content a{
    margin: 15px 0 0;
    display:  inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    padding: 5px;
    border: 1px solid #333;
}

.container .card .face.face2 .content a:hover{
    background: #cc2929;
    color: #fff;
}

.wrp{
    flex-wrap: wrap;
}

/* Media query para dispositivos móveis */
@media screen and (max-width: 846px) {
    .container .card {
        flex-direction: row;
    }

    .container .card .face {
        transform: translateY(0);
        width: 50%;
        transition: none;
    }

    .container .card .face.face1 {
        background: none;
        transform: translateY(0); /* Manter a face1 no lugar */
        transition: none;
    }

    .container .card .face.face2 {
        position: relative;
        background: none;
        transform: none;
        box-shadow: none;
        width: 100%;
        transition: none;
    }

    .container .card:hover .face.face2 {
        transform: none;
    }

    .container .card .face.face2 .content p {
        font-size: 1rem;
    }

    .container .card .face.face2 .content a {
        color: #333;
        background: none;
    }
}

