<section class="s-content">  
      <div class="s-content-apt">
        <h2 class="s-content-title"><span style="color: var(--azul); font-weight: bold;">Apoio</span> marítimo e portuário</h2>
        <p class="text">
          A Maciel Marítima é uma empresa de serviços marítimos há 10 anos no mercado, completa e confiável, com ampla experiência e conhecimento para oferecer soluções personalizadas e eficientes para as necessidades de seus clientes.
          Com um time altamente qualificado e uma frota moderna, a Maciel Marítima destaca-se como referência no setor de apoio marítimo e portuário.
        </p>
      </div>

      <!-- <div class="s-content-img">
        <app-carousel [images]="images" [autoSlide]="true"></app-carousel>
      </div> -->
  
  </section>

  <div class="container">
    <h2>NOSSO DIFERENCIAL NO MERCADO</h2>
    <h5>UMA EMPRESA ENTRE AS MAIORES DO MERCADO, PENSANDO NA MELHOR FORMA EM ATENDÊ-LO.</h5>
  </div>

<!--   <div style="background-color: white; width: 100%;
  height: 4vw;"></div> -->