<footer>
    <div class="footer">
        <div class="">
            <a class="header-logo" style="cursor: pointer;" (click)="toHome()" routerLink="" routerLinkActive="active">
                <img class="header-img" src="assets/logoW.png" alt="Logo" />
            </a>
        </div>

        <div class="row">
            <span>Telefone para contato:</span>
            <h2>(98) 9 9236-2006</h2>
            <h3>Rua do Recreio, 100 Porto Grande | Vila Maranhão - São Luís / MA            </h3>
        </div>
        
        <div class="row" style="padding-bottom: 0.8%;">
            Copyright © 2023 Maciel Marítima - Todos os direitos reservados. || Designed By: <a href="https://www.linkedin.com/in/gabriel-lima-bezerra-18g30/" target="_blank">Gabriel Lima</a>
        </div>
    </div>
</footer>