<app-header></app-header>
<section class="container">
    <div class="container-tks">
        <h1 class="title"><span style="color: var(--azul); font-weight: bold;">Agradecemos</span> seu contato!</h1>
        <h5 class="subtitle">Nossa equipe de atendimento irá retornar o contato em breve!</h5>
        <div class="imagem-container tilt-element">
            <a href=""><img id="imagem" src="assets/ty.png" alt="Obrigado!"></a>
        </div>
        <p>Clique na imagem para voltar para o início.</p>
    </div>
</section>