.header{
    -webkit-box-shadow: 0px -1px 20px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px -1px 20px -6px rgba(0,0,0,0.75);
    box-shadow: 0px -1px 20px -6px rgba(0,0,0,0.75);
    z-index: 999;
    background-color: #ffffff8a;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0% 7% 0% 7%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(5px); /* Pode ajustar o valor de blur conforme preferir */
    -webkit-backdrop-filter: blur(5px); /* Necessário para compatibilidade com navegadores WebKit */

    .header-content{
      width: 100%;
      display: flex;
      align-items: center;
  
      .header-logo{
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
      a .header-img{
        height: 90px;
      }
  
      .header-nav{
        margin-left: 3rem;
        display: flex;
        flex-direction: row;
        
          
        a {
          font-weight: 400;
          position: relative;
          margin: 0px 20px;
          display: block;
          padding: 4px 0;
          font-family: Lato, sans-serif;
          color: var(--azul);
          text-decoration: none;
          text-transform: uppercase;
          transition: 0.5s;
    
          &::after {
            position: absolute;
            content: "";
            top: 100%;
            left: 0;
            width: 100%;
            height: 3px;
            background: var(--black);
            transform: scaleX(0);
            transform-origin: right;
            transition: transform 0.5s;
          }
    
          &:hover {
            color: var(--black);
          }
    
          &:hover::after {
            transform: scaleX(1);
            transform-origin: left;
          }
      
        }
      } 
    }
}

.toggle-btn{
  display: none;
  i{
    color: var(--azul);
  }
}

.menu{
  display: none;
}

/*  Menu drop  */

.drop-menu{
  display: none;
  position: fixed;
  right: 2rem;
  top: 78px;
  width: 300px;
  background: rgba(255, 255, 255, 0.377);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  height: 0;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

  nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  li{
    text-decoration: none;
    list-style-type: none;
    padding: 0.7rem;
    justify-content: center;
    align-items: center;


    a{
      text-decoration: none;
      color:var(--azul);
      font-weight: bolder;
      transition: 0.5s;

      &:hover {
        color: var(--black);
      }
    }

    
  }
}

.drop-menu.open{
  height: 200px;

}

/*  Responsividade  */

@media(max-width: 992px) {

  .menu{
    display: block;
    background-color: rgba(255, 255, 255, 0.363);
    backdrop-filter: blur(15px);


    img{
      margin-left: 25px;
      width: 100px;
    }
  } 

  .header-content, .header-nav, .header{
    display: none;
  }

  .menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .toggle-btn{
    display: block;
    color: rgb(255, 255, 255);
    position: fixed;
    top: 19px;
    right: 2rem;

    a{
      text-decoration: none;
      color: var(--azul);
      font-weight: bold;

    }

    i{
      font-size: 1.6rem;
    }
  }

  .drop-menu{
    display: block;
  }

}


@media(max-width: 576) {
  .drop-menu{
    left: 7rem;
    width: unset;
    background-color: aqua;
  }

}