<section class="s-content section">  
    <div class="s-content-init">
    
      <div class="s-content-apt">
        <h1 class="s-content-title">Conheça nossos <span style="color: var(--azul); font-weight: bold;">serviços</span></h1>

        <div>
          <app-card></app-card>
        </div>
        <p>A Maciel Marítima tem mais de 10 anos de experiência e oferece serviços de qualidade em rebocadores, empurradores, escafandria, mergulho, operações portuárias e navegação de apoio marítimo. Navegue com segurança e confiança, escolha Maciel Marítima.</p>

        <div id="linha-horizontal"></div>
      </div>
    </div>
</section>