.container{
    width: 100%;
    padding: 0 7% 0 7%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    flex-direction: column;

    .container-title{
        display: flex;
        align-items: center;
        justify-content: center;

        .title{
            font-size: 4vw;
            font-weight: 100;
            margin-top: 1%;
            margin-bottom: 2%;
        };
    }

    .card{
        border-radius: 20px;
        margin-bottom: 5%;
        background-color: rgb(224, 224, 224);
        width: 55vw;
        -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
        box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);

        display: flex;
        flex-direction: row;
        justify-content: space-between;


        .card-map{
            background-color: rgb(221, 221, 221);
            width: 50%;
            border-radius: 20px;
            
            iframe{
                border-radius: 20px;
                height: 100%;
                width: 100%;
            }
        }

        .card-form{
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            padding: 2rem 1rem 0;
            width: 50%;
            background-color: rgb(221, 221, 221);
        }
    }
    
    
}

.input {
	display: flex;
	flex-direction: column-reverse;
	position: relative;
	padding-top: 1.5rem;
	&+.input {
		margin-top: 1.5rem;
	}
}

.input-label {
	color: #646464;
	position: absolute;
	top: 1.5rem;
	transition: .25s ease;
    font-size: 1.3rem;
}

.input-field {
	border: 0;
	z-index: 1;
	background-color: transparent;
	border-bottom: 2px solid #c9c9c9; 
	font: inherit;
	font-size: 1.125rem;
	padding: .25rem 0;
	&:focus, &:valid {
		outline: 0;
		border-bottom-color: var(--azul);
		&+.input-label {
			color: var(--azul);
			transform: translateY(-1.5rem);
		}
	}
}

textarea {
    resize: vertical;
}


.action {
	margin-top: 5%;
}

/* .action-button {
	font: inherit;
	font-size: 1.25rem;
	padding: 1em;
	width: 100%;
	font-weight: 500;
	background-color: var(--azul);
	border-radius: 6px;
	color: #FFF;
	border: 0;
	&:focus {
		outline: 0;
	}
} */

.action-button {
  width: 100%;  
  padding: 1vw;
  background-color: var(--azul);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1vw;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.action-button:hover,
.action-button:focus {
  background-color: #828df0;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 3%;

    a{  
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000000;
        border-radius: 4px;
        padding: 2% 2%;
        margin: 2%;
        opacity: 0.2;
        transition: 0.2s;


        img{
            width: 1vw;
        }
    }

    a:hover{
        opacity: 1;
        background-color: var(--azul);
    }
}

@media(max-width: 992px) {

    .input {
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        padding-top: 1.5rem;
        &+.input {
            margin-top: 0.5rem;
        }
    }

    .input-field {
        font-size: 0.8rem;
        border-bottom: 1px solid #c9c9c9;
       
    }

    .input-label {
        
        top: 2rem;
        font-size: 0.8rem;
    }

    .action-button {
        font-size: 1rem;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
    }

    .social{
        a{
            padding: 0.5rem;

            img{
                width: 1rem;
            }
        
        }
    }
    .container{
        width: 100%;
        padding-top: 1rem;

/*         .container-title{
            .title{
                font-size: 2.5vw;
            }
        } */
        .card{
            
            margin-bottom: 2rem;
            width: 98%;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            -webkit-box-shadow: 0px 0px 49px -2px rgba(0,0,0,0.10);
            -moz-box-shadow: 0px 0px 49px -2px rgba(0,0,0,0.10);
            box-shadow: 0px 0px 49px -2px rgba(0,0,0,0.10);
            margin-top: 0.7rem;

            .card-form{
                border-radius: 8px;
                width: 100%;
                padding-top: 0rem;
            }

            .card-map{
                border-radius: 8px;
                width: 100%;
                
                

                iframe{
                    margin-bottom: -8px;
                    border-radius: 8px;
                    width: 100%;
                }

            }
        }
    }
    

}